*{
    padding: 0;
    margin: 0;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}
html,body{
    height: 100%;
}
body{
    justify-content: center;
    align-items: center;
    display: flex;
}
#main{
    margin-bottom: 90px;
    padding: 10px;
}
#text{
    background-color: black;
    color: white;
    padding: 10px;
    border-radius: 20px;
    font-size: 40px;
}
#btn{
    margin-top: 20px;
    border-color: black;
    background-color: rgba(255, 165, 0, 0);
    padding: 5px;
    border-radius: 15px;
    font-size: 25px;
}
#btn:hover{
    border-radius: 10px;
    cursor: pointer;
    background-color: black;
    color: #fff;
    transition: 0.3s;
}
